@import "variables/fonts";
@import "variables/colors";

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  font-family: $font-family-lato;
  color: $color-grey-2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  box-sizing: border-box;
  margin: 0;
  width: 300px;
  padding: 15px;
  border-right: 3px solid $color-grey-1;
}

.header {
  margin: 10px 0;
}

.dropdown {
  padding: 0 0.4rem;
  margin: 0;
  border: 1px solid $color-grey-3;
  border-radius: 5px;
  list-style-type: none;
  height: 1.8rem;
  overflow-x: hidden;
}

.dropdown-open {
  border-left: 3px solid $color-blue;
}

.dropdown-item {
  border-bottom: 1px solid $color-grey-1;
  padding: 5px 0;
}
